apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: dev
  annotations: {}
  labels: {}
description: dev
gke:
  cluster: projects/infra-voyage-436510-s4/locations/asia-east1-a/clusters/dev-cluster

